{# src/AGPlatformBundle/Resources/views/Agence/home.html.twig #}

{% extends "AGPlatformBundle:Agence:layoutheader.html.twig" %}


  {% block offset %}
   <h1 class="intro"> Vous voulez vendre ou louer votre maison ?  </h1>
   <h1 class="intro">IMMOBILIA <i class="fa fa-home" aria-hidden="true"></i> le fait pour vous en un seul clique   </h1>
  <div class="stage" id="stage">
         <svg version="1.1" id="ns-97103559_Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
 	 viewBox="48 -44.8 395.8 338.8" style="enable-background:new 48 -44.8 395.8 338.8;" xml:space="preserve">
 <style type="text/css">
 	.st0{fill:#FFFFFF;}
 	.st1{fill:#8CBC47;}
 	.st2{clip-path:url(#ns-97103559_SVGID_2_);fill:#D6D6D6;}
 	.st3{fill:#8BBD3F;}
 	.st4{fill:#4D504F;}
 	.st5{fill:#BAC5C9;}
 	.st6{fill:#056075;}
 	.st7{fill:#3F403F;}
 	.st8{fill:#0689AD;}
 	.st9{fill:#E7E8E8;}
 	.st10{fill:#02A8E0;}
 	.st11{fill:#D6D6D6;}
 	.st12{fill:#EFB321;}
 	.st13{fill:none;}
 	.st14{fill:#008BAE;}
 	.st15{fill:#AEAEAE;}
 	.st16{fill:#C8202F;}
 	.st17{opacity:0.8;fill:#871627;enable-background:new    ;}
 	.st18{opacity:0.7;fill:#871627;enable-background:new    ;}
 	.st19{fill:#E48925;}
 	.st20{clip-path:url(#ns-97103559_SVGID_4_);fill:#AA5125;}
 	.st21{fill:#AA5125;}
 	.st22{fill:#8C391E;}
 	.st23{opacity:0.57;fill:#1D5B7C;enable-background:new    ;}
 	.st24{fill:#991B2B;}
 	.st25{fill:#871627;}
 	.st26{fill:#6F7776;}
 </style>
 <g id="ns-97103559_ground_1_">
 	<path class="st0" d="M250.5-7.5c-77.1,0-139.6,61.9-139.6,138.2s62.5,138.2,139.6,138.2S390.1,207,390.1,130.7S327.6-7.5,250.5-7.5
 		z"/>
 	<path class="st1" d="M121.5,183.6c21,50.1,70.8,85.3,129,85.3c58.2,0,108-35.2,129-85.3H121.5z"/>
 	<g>
 		<defs>
 			<path id="ns-97103559_SVGID_1_" d="M250.5-7.5c77.1,0,139.6,61.9,139.6,138.2s-62.5,138.2-139.6,138.2S110.9,207,110.9,130.7
 				S173.4-7.5,250.5-7.5z"/>
 		</defs>
 		<clipPath id="ns-97103559_SVGID_2_">
 			<use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
 		</clipPath>
 		<polygon id="ns-97103559_sidewalk" class="st2" points="263.2,221.2 306.1,279.8 393.7,277.9 349.1,221.2 		"/>
 	</g>
 </g>
 <g id="ns-97103559_tree1">
 	<path class="st3" d="M143.3,56.4c-0.8,0-1.5,0.1-2.3,0.2c-2.6-6.9-9.5-11.9-17.7-11.9c-5.3,0-10,2.1-13.4,5.4
 		c-2.9-1.7-6.2-2.6-9.8-2.6c-7.4,0-13.7,4.1-16.8,9.9C74.2,58.6,67.1,66,67.1,75c0,7.8,5.3,14.3,12.6,16.7c1.2,8.7,9,15.5,18.6,15.5
 		c5,0,9.5-1.8,12.8-4.8c3.3,2.7,7.6,4.3,12.2,4.3c9.3,0,17-6.4,18.5-14.8c0.6,0,1.1,0.1,1.7,0.1c10.3,0,18.7-8,18.6-17.8
 		C162.1,64.3,153.7,56.4,143.3,56.4z"/>
 	<path class="st4" d="M132.6,87.7c-3.4,2.6-14.4,1.8-14.4,1.8l9.7-14.7l-13.8,13.5c-0.1-3.2-0.1-6.3,0.1-9.1
 		c1.6-9.2,4.7-12.9,4.7-12.9s-5.8,2.9-6.3,10.8c-3.2-3.4-5.1-3.9-10.6-5.4c0,0,7.2,3.6,8.3,9.1c0.3,2.7,0.5,8.9,0.7,16.2l-7.7-7.2
 		l5.8,9.7c0,0-13.4-0.9-16.8-3.5c0,0,3,4.8,18.8,6.2c0.3,14.5,0.5,30.6,0.5,30.6s0.5,7.4-4.5,12.1c9.7,0,13.7,0,13.7,0
 		s-4.5-2.4-4.2-17.9c0.2-10.4-1.4-22.5-2.2-33.2C129.6,92.3,132.6,87.7,132.6,87.7z"/>
 </g>
 <g id="ns-97103559_tree2">
 	<path class="st3" d="M339.2,49.1c0.8,0,1.5,0,2.3,0c2.2-7,8.9-12.3,17.1-12.7c5.3-0.2,10.1,1.6,13.7,4.8c2.8-1.8,6.1-2.9,9.7-3.1
 		c7.4-0.3,13.9,3.4,17.2,9.1c9.2,0.8,16.6,7.8,17,16.8c0.4,7.7-4.6,14.6-11.8,17.3c-0.8,8.8-8.3,15.9-17.8,16.4
 		c-5,0.2-9.5-1.4-13-4.2c-3.2,2.8-7.3,4.7-12,4.9c-9.3,0.4-17.3-5.6-19.1-13.9c-0.6,0.1-1.1,0.1-1.7,0.2c-10.3,0.4-19-7.2-19.5-16.9
 		C320.8,57.9,328.9,49.6,339.2,49.1z"/>
 	<path class="st4" d="M351.5,79.9c3.5,2.5,14.5,1.2,14.5,1.2l-10.4-14.2L370,79.8c0-3.2-0.2-6.3-0.5-9.1c-2-9.1-5.3-12.6-5.3-12.6
 		s5.9,2.6,6.8,10.5c3-3.6,4.9-4.1,10.3-5.9c0,0-7,3.9-7.8,9.5c-0.1,2.7-0.1,8.9,0.1,16.2l7.4-7.5l-5.4,9.9c0,0,13.3-1.5,16.6-4.3
 		c0,0-2.8,4.9-18.5,7.1c0.4,14.5,0.9,30.5,0.9,30.5s-0.2,7.4,5,11.9c-9.7,0.5-13.6,0.6-13.6,0.6s4.3-2.6,3.4-18
 		c-0.7-10.4,0.4-22.5,0.6-33.3C354.6,84.4,351.5,79.9,351.5,79.9z"/>
 </g>
 <g id="ns-97103559_House3">
 	<path id="ns-97103559_SmokePuff2" class="st5" d="M161,45c0-0.3,0-0.5,0-0.8c0-4.6-3.7-8.4-8.4-8.4c-3.3,0-6.2,1.9-7.5,4.7
 		c-0.6-0.1-1.1-0.2-1.7-0.2c-4.1,0-7.4,3.3-7.4,7.4s3.3,7.4,7.4,7.4c2.5,0,4.7-1.3,6-3.2c1,0.4,2.1,0.6,3.2,0.6c0.3,0,0.6,0,0.8,0
 		c1,1.5,2.7,2.6,4.6,2.6c3,0,5.4-2.4,5.4-5.4C163.6,47.6,162.6,45.9,161,45z"/>
 	<rect x="139.4" y="38.8" class="st6" width="22.3" height="143.8"/>
 	<rect x="135.6" y="36.1" class="st4" width="29.2" height="8.8"/>
 	<polygon class="st7" points="305.2,116.8 383.2,116.8 413.5,145.5 273.9,145.5 	"/>
 	<polygon class="st4" points="333.2,145.4 323.1,102.5 185.7,102.5 175.3,116.8 107.2,116.8 75.9,145.5 246.5,145.5 246.4,145.4
 		"/>
 	<g>
 		<polygon class="st8" points="322.4,73.3 153.5,73.3 153.5,127.1 311.4,127.1 		"/>
 		<polygon class="st6" points="311.4,127.1 346.7,127.1 346.7,65.4 153.5,65.4 153.5,73.3 322.4,73.3 		"/>
 	</g>
 	<g>
 		<rect x="84.2" y="155.3" class="st8" width="322.9" height="51.8"/>
 		<rect x="84.2" y="145.4" class="st6" width="322.9" height="9.9"/>
 	</g>
 	<polygon class="st4" points="184.2,37.8 317.5,37.8 354.5,66.5 145.9,66.5 	"/>
 	<rect x="145.9" y="66.2" class="st9" width="208.2" height="3.8"/>
 	<rect x="75.9" y="145.2" class="st9" width="337.5" height="3.8"/>
 	<polygon class="st10" points="335.2,207.2 279.7,207.2 279.7,83.5 308.5,52.1 335.2,83.5 	"/>
 	<polygon class="st9" points="307.4,45.4 275.4,84 282.6,84 307.3,55.1 332.1,84 340.3,84 	"/>
 	<polygon class="st6" points="278.9,86.2 284.9,86.2 309.2,57.5 307.2,55.1 282.7,84.1 278.9,84.1 	"/>
 	<rect x="329.4" y="144.9" class="st9" width="6" height="63"/>
 	<rect x="278.2" y="144.9" class="st9" width="6" height="63"/>
 	<rect x="78.4" y="207" class="st6" width="334.2" height="7.5"/>
 	<rect x="276.3" y="139.7" class="st11" width="60.9" height="5.9"/>
 	<rect x="276.3" y="203.4" class="st11" width="10.2" height="3.7"/>
 	<rect x="327" y="203.4" class="st11" width="10.2" height="3.7"/>
 	<polygon class="st10" points="95.1,158.2 95.1,214.4 150.6,214.4 150.6,158.2 122.2,126.7 	"/>
 	<polygon class="st9" points="90.7,158.7 97.9,158.7 122.7,129.7 147.4,158.7 155.6,158.7 122.8,120 	"/>
 	<g>
 		<g>
 			<rect x="230.6" y="77.1" class="st0" width="29.5" height="38.5"/>
 			<rect x="229.4" y="115.5" class="st9" width="31.8" height="2.7"/>
 			<rect x="230.6" y="77.2" class="st6" width="29.5" height="2.7"/>
 			<rect x="230.7" y="77.2" class="st6" width="2.6" height="38.3"/>
 			<rect x="244.5" y="79.1" class="st6" width="2.5" height="36.4"/>
 			<rect x="232.3" y="96.3" class="st6" width="27.9" height="2.5"/>
 			<polygon class="st6" points="229.3,118.2 235.2,127 267.8,127 261.4,118.2 			"/>
 		</g>
 		<rect x="221.3" y="77.1" class="st12" width="9.5" height="38.5"/>
 		<rect x="260.2" y="77.1" class="st12" width="9.5" height="38.5"/>
 	</g>
 	<g>
 		<rect x="167" y="77.1" class="st12" width="9.5" height="38.5"/>
 		<rect x="205.9" y="77.1" class="st12" width="9.5" height="38.5"/>
 		<g>
 			<rect x="176.3" y="77.1" class="st0" width="29.5" height="38.5"/>
 			<rect x="175.1" y="115.5" class="st9" width="31.8" height="2.7"/>
 			<rect x="176.3" y="77.2" class="st6" width="29.5" height="2.7"/>
 			<rect x="176.3" y="77.2" class="st6" width="2.6" height="38.3"/>
 			<rect x="190.2" y="79.1" class="st6" width="2.5" height="36.4"/>
 			<rect x="177.9" y="96.3" class="st6" width="27.9" height="2.5"/>
 			<polygon class="st6" points="175,118.2 180.8,127 213.5,127 207.1,118.2 			"/>
 		</g>
 	</g>
 	<g>
 		<g>
 			<rect x="230.6" y="156.6" class="st0" width="29.5" height="38.5"/>
 			<rect x="229.4" y="194.9" class="st9" width="31.8" height="2.7"/>
 			<rect x="230.6" y="156.7" class="st6" width="29.5" height="2.7"/>
 			<rect x="230.7" y="156.7" class="st6" width="2.6" height="38.3"/>
 			<rect x="244.5" y="158.6" class="st6" width="2.5" height="36.4"/>
 			<rect x="232.3" y="175.8" class="st6" width="27.9" height="2.5"/>
 			<polygon class="st6" points="229.3,197.6 235.2,207.5 267.8,207.5 261.4,197.6 			"/>
 		</g>
 		<rect x="221.3" y="156.6" class="st12" width="9.5" height="38.5"/>
 		<rect x="260.2" y="156.6" class="st12" width="9.5" height="38.5"/>
 	</g>
 	<g>
 		<g>
 			<rect x="355.1" y="156.6" class="st0" width="29.5" height="38.5"/>
 			<rect x="353.9" y="194.9" class="st9" width="31.8" height="2.7"/>
 			<rect x="355.1" y="156.7" class="st6" width="29.5" height="2.7"/>
 			<rect x="355.1" y="156.7" class="st6" width="2.6" height="38.3"/>
 			<rect x="369" y="158.6" class="st6" width="2.5" height="36.4"/>
 			<rect x="356.7" y="175.8" class="st6" width="27.9" height="2.5"/>
 			<polygon class="st6" points="353.8,197.6 359.7,208.5 392.3,208.5 385.9,197.6 			"/>
 		</g>
 		<rect x="345.8" y="156.6" class="st12" width="9.5" height="38.5"/>
 		<rect x="384.6" y="156.6" class="st12" width="9.5" height="38.5"/>
 	</g>
 	<g>
 		<rect x="167" y="156.6" class="st12" width="9.5" height="38.5"/>
 		<rect x="205.9" y="156.6" class="st12" width="9.5" height="38.5"/>
 		<g>
 			<rect x="176.3" y="156.6" class="st0" width="29.5" height="38.5"/>
 			<rect x="175.1" y="194.9" class="st9" width="31.8" height="2.7"/>
 			<rect x="176.3" y="156.7" class="st6" width="29.5" height="2.7"/>
 			<rect x="176.3" y="156.7" class="st6" width="2.6" height="38.3"/>
 			<rect x="190.2" y="158.6" class="st6" width="2.5" height="36.4"/>
 			<rect x="177.9" y="175.8" class="st6" width="27.9" height="2.5"/>
 			<polygon class="st6" points="175,197.6 180.8,207.5 213.5,207.5 207.1,197.6 			"/>
 			<line class="st13" x1="155.8" y1="158.9" x2="123.8" y2="158.9"/>
 		</g>
 	</g>
 	<path class="st14" d="M290.2,94.7c0-7.5,7.8-13.6,17.5-13.6s17.5,6.1,17.5,13.6"/>
 	<path class="st0" d="M293.1,94.7c0-7.5,7.5-13.6,16.7-13.6c9.3,0,16.8,6.1,16.8,13.6"/>
 	<path class="st14" d="M104.7,164.7c0-7.5,7.8-13.6,17.5-13.6s17.5,6.1,17.5,13.6"/>
 	<path class="st0" d="M108.4,164.7c0-7.5,7.2-13.6,16-13.6s16,6.1,16,13.6"/>
 	<rect x="290.7" y="99.3" class="st0" width="35.5" height="31.9"/>
 	<g>
 		<rect x="270.2" y="209.6" class="st15" width="72.7" height="3.9"/>
 		<rect x="263.2" y="217.3" class="st15" width="86.2" height="3.9"/>
 		<polygon class="st11" points="349.4,217.3 263.3,217.3 270,213.4 342.7,213.4 		"/>
 		<polygon class="st11" points="342.9,209.6 270.3,209.6 276,207.1 337.2,207.1 		"/>
 	</g>
 	<g>
 		<rect x="292.3" y="148" class="st16" width="29.4" height="59.1"/>
 		<rect x="295.9" y="164.6" class="st17" width="22.1" height="10.5"/>
 		<rect x="295.9" y="176.7" class="st17" width="22.1" height="10.5"/>
 		<rect x="295.9" y="188.7" class="st17" width="22.1" height="10.5"/>
 		<rect x="295.8" y="159.2" class="st16" width="23.3" height="1.3"/>
 	</g>
 	<path class="st0" d="M294.9,160.2c0-5.1,5.3-9.2,11.8-9.2s11.8,4.1,11.8,9.2"/>
 	<rect x="292.2" y="148.1" class="st18" width="29.5" height="9.4"/>
 	<polygon class="st6" points="94.4,160.8 100.4,160.8 124.7,132.1 122.7,129.7 98.2,158.7 94.4,158.7 	"/>
 	<rect x="307.3" y="98.5" class="st10" width="3" height="32.5"/>
 	<rect x="290.7" y="99.4" class="st14" width="3.6" height="32"/>
 	<rect x="294.2" y="127.8" class="st14" width="32" height="3.6"/>
 	<circle class="st12" cx="317.6" cy="181.8" r="1.8"/>
 	<rect x="289.1" y="112.9" class="st10" width="38" height="3"/>
 	<g>
 		<rect x="104.4" y="168.3" class="st0" width="35.5" height="31.9"/>
 		<rect x="121" y="167.5" class="st10" width="3" height="32.5"/>
 		<rect x="104.4" y="168.3" class="st14" width="3.6" height="32"/>
 		<rect x="107.9" y="196.8" class="st14" width="32" height="3.6"/>
 		<rect x="102.7" y="181.9" class="st10" width="38" height="3"/>
 	</g>
 </g>
 <g id="ns-97103559_House2">
 	<polygon class="st4" points="176.7,106.8 314.1,106.8 344.4,149.6 145.4,149.6 	"/>
 	<rect x="159" y="69.7" class="st19" width="156.4" height="61.7"/>
 	<g>
 		<g>
 			<rect id="ns-97103559_XMLID_9_" x="152.5" y="149.6" class="st19" width="184.8" height="61.7"/>
 		</g>
 		<g>
 			<defs>
 				<rect id="ns-97103559_SVGID_3_" x="152.5" y="149.6" width="184.8" height="61.7"/>
 			</defs>
 			<clipPath id="ns-97103559_SVGID_4_">
 				<use xlink:href="#SVGID_3_"  style="overflow:visible;"/>
 			</clipPath>
 			<polygon class="st20" points="150.9,147.3 165,167.2 346.5,167.1 346.4,138 			"/>
 		</g>
 	</g>
 	<rect x="182" y="83.7" class="st0" width="40.1" height="35.4"/>
 	<rect x="164.8" y="163.5" class="st0" width="24.9" height="35.4"/>
 	<rect x="214.8" y="163.5" class="st0" width="24.9" height="35.4"/>
 	<rect x="259.6" y="158.6" class="st10" width="25.4" height="52.8"/>
 	<rect x="301.5" y="163.5" class="st0" width="24.9" height="35.4"/>
 	<polygon class="st4" points="183.3,42.1 292.3,42.1 322.5,70.7 151.9,70.7 	"/>
 	<rect x="145.4" y="149.6" class="st9" width="198.6" height="3.8"/>
 	<rect x="151.9" y="70.5" class="st11" width="170.3" height="3.8"/>
 	<rect x="200.1" y="152.7" class="st9" width="3.1" height="20.1"/>
 	<rect x="180.4" y="118.9" class="st9" width="43.2" height="3.7"/>
 	<rect x="182.2" y="83.6" class="st21" width="40.1" height="3.7"/>
 	<rect x="182" y="83.7" class="st21" width="3.4" height="35.3"/>
 	<rect x="200.9" y="83.7" class="st21" width="3.4" height="35.3"/>
 	<polygon class="st21" points="279.4,132.9 315.4,132.6 315.4,74.3 291.4,73.9 	"/>
 	<polygon class="st12" points="299.3,137 243.8,137 243.8,87.8 272.1,56.4 299.3,87.8 	"/>
 	<polygon class="st9" points="271.5,49.6 239.4,88.3 246.6,88.3 271.4,59.3 296.1,88.3 304.3,88.3 	"/>
 	<rect x="184.2" y="101" class="st21" width="37.8" height="3.4"/>
 	<rect x="164.7" y="163.5" class="st21" width="3.4" height="35.3"/>
 	<rect x="166.3" y="179.3" class="st21" width="23.4" height="3.4"/>
 	<rect x="164.7" y="195.5" class="st21" width="25" height="3.4"/>
 	<rect x="214.7" y="163.6" class="st21" width="3.4" height="35.3"/>
 	<rect x="216.4" y="179.3" class="st21" width="23.4" height="3.4"/>
 	<rect x="216.4" y="195.4" class="st21" width="23.4" height="3.4"/>
 	<rect x="301.5" y="195.4" class="st21" width="25" height="3.4"/>
 	<rect x="301.5" y="163.5" class="st21" width="3.4" height="35.3"/>
 	<rect x="303" y="179.3" class="st21" width="23.4" height="3.4"/>
 	<rect x="257" y="87" class="st0" width="29.5" height="38.5"/>
 	<rect x="255.8" y="125.4" class="st9" width="31.8" height="2.7"/>
 	<rect x="257" y="87.1" class="st21" width="29.5" height="2.7"/>
 	<rect x="257" y="87.1" class="st21" width="2.6" height="38.3"/>
 	<rect x="270.9" y="89" class="st21" width="2.5" height="36.4"/>
 	<rect x="258.6" y="106.3" class="st21" width="27.9" height="2.5"/>
 	<polygon class="st21" points="180.4,122.6 186.2,131.4 230,131.4 223.5,122.6 	"/>
 	<polygon class="st19" points="255.7,128.1 261.5,136.9 294.2,136.9 287.8,128.1 	"/>
 	<polygon class="st19" points="242.9,90.4 248.9,90.4 273.3,61.8 271.3,59.4 246.7,88.3 242.9,88.3 	"/>
 	<rect x="153.2" y="191.4" class="st9" width="96.9" height="3.1"/>
 	<rect x="168" y="191.9" class="st9" width="3.1" height="26.1"/>
 	<rect x="184.5" y="191.9" class="st9" width="3.1" height="26.1"/>
 	<rect x="217.8" y="191.9" class="st9" width="3.1" height="26.1"/>
 	<rect x="234.4" y="191.9" class="st9" width="3.1" height="26.1"/>
 	<rect x="304.1" y="191.9" class="st9" width="3.1" height="26.1"/>
 	<rect x="320.6" y="191.9" class="st9" width="3.1" height="26.1"/>
 	<rect x="293.1" y="191.4" class="st9" width="42" height="3.1"/>
 	<rect x="199.2" y="153.4" class="st9" width="6" height="58.8"/>
 	<rect x="333.2" y="153.4" class="st9" width="6" height="58.8"/>
 	<rect x="249.2" y="153.4" class="st9" width="6" height="58.8"/>
 	<rect x="289.7" y="153.4" class="st9" width="6" height="58.8"/>
 	<rect x="149.5" y="153.4" class="st9" width="6" height="58.8"/>
 	<rect x="140.8" y="211.1" class="st9" width="206.9" height="7.5"/>
 	<rect x="147.3" y="153.3" class="st11" width="10.2" height="3.7"/>
 	<rect x="197.2" y="153.3" class="st11" width="10.2" height="3.7"/>
 	<rect x="247.3" y="153.3" class="st11" width="10.2" height="3.7"/>
 	<rect x="287.5" y="153.3" class="st11" width="10.2" height="3.7"/>
 	<rect x="331" y="153.3" class="st11" width="10.2" height="3.7"/>
 	<rect x="147.3" y="207.7" class="st11" width="10.2" height="3.7"/>
 	<rect x="197.2" y="207.7" class="st11" width="10.2" height="3.7"/>
 	<rect x="247.3" y="207.7" class="st11" width="10.2" height="3.7"/>
 	<rect x="287.5" y="207.7" class="st11" width="10.2" height="3.7"/>
 	<rect x="331" y="207.7" class="st11" width="10.2" height="3.7"/>
 	<rect x="164.8" y="163.5" class="st22" width="25.1" height="3.7"/>
 	<rect x="214.7" y="163.5" class="st22" width="25.2" height="3.7"/>
 	<rect x="301.5" y="163.5" class="st22" width="25" height="3.7"/>
 	<rect x="262.8" y="162.8" class="st0" width="19.1" height="15"/>
 	<rect x="268.3" y="162.5" class="st10" width="1.2" height="15.8"/>
 	<rect x="275" y="162.5" class="st10" width="1.2" height="15.8"/>
 	<rect x="262.6" y="169.8" class="st10" width="20.2" height="1.2"/>
 	<rect x="259.5" y="158.6" class="st23" width="25.5" height="8.5"/>
 	<circle class="st12" cx="281.1" cy="188.8" r="1.8"/>
 	<rect x="261.3" y="177.6" class="st8" width="21.7" height="2.1"/>
 	<rect x="261.3" y="206.2" class="st8" width="22.2" height="2.1"/>
 </g>
 <g id="ns-97103559_House1">
 	<path id="ns-97103559_SmokePuff1" class="st5" d="M176,56c0-0.3,0-0.5,0-0.8c0-4.6-3.7-8.4-8.4-8.4c-3.3,0-6.2,1.9-7.5,4.7
 		c-0.6-0.1-1.1-0.2-1.7-0.2c-4.1,0-7.4,3.3-7.4,7.4s3.3,7.4,7.4,7.4c2.5,0,4.7-1.3,6-3.2c1,0.4,2.1,0.6,3.2,0.6c0.3,0,0.6,0,0.8,0
 		c1,1.5,2.7,2.6,4.6,2.6c3,0,5.4-2.4,5.4-5.4C178.6,58.6,177.6,56.9,176,56z"/>
 	<rect x="154" y="76.2" class="st24" width="22.3" height="143.8"/>
 	<rect x="158.3" y="212.7" class="st24" width="169.5" height="7.2"/>
 	<rect x="158.7" y="135" class="st16" width="169.2" height="78.8"/>
 	<polygon class="st4" points="178.1,85.8 308.9,85.8 330.5,138 156.1,138 	"/>
 	<polygon class="st16" points="250.7,135.8 250.7,213 303.1,213 303.1,135.8 278.2,107.2 	"/>
 	<g>
 		<rect x="261.8" y="144.7" class="st12" width="29.4" height="61.1"/>
 		<rect x="265.4" y="149.5" class="st0" width="22.1" height="43.6"/>
 		<rect x="271.8" y="149.2" class="st12" width="1.4" height="52.9"/>
 		<rect x="279.5" y="149.2" class="st12" width="1.4" height="52.9"/>
 		<rect x="265.2" y="157.7" class="st12" width="23.3" height="1.4"/>
 		<rect x="265.2" y="170.1" class="st12" width="23.3" height="1.4"/>
 		<rect x="265.2" y="181.6" class="st12" width="23.3" height="1.4"/>
 		<rect x="261.7" y="144.7" class="st18" width="29.5" height="9.8"/>
 		<rect x="270.5" y="196" class="st19" width="11.9" height="2.9"/>
 	</g>
 	<rect x="158.6" y="137.9" class="st0" width="95" height="4.5"/>
 	<rect x="300.4" y="137.9" class="st0" width="27.5" height="4.5"/>
 	<polygon class="st0" points="277,101.3 242.9,142.4 250.6,142.4 276.9,111.7 303.4,142.7 311.9,142.7 	"/>
 	<rect x="243.9" y="141.7" class="st0" width="6.9" height="78.1"/>
 	<rect x="303.1" y="141.7" class="st0" width="6.9" height="78.1"/>
 	<polygon class="st25" points="158.6,145.5 253,145.4 279.7,115.3 276.9,111.9 250.7,142.2 158.6,142.2 	"/>
 	<rect x="248.4" y="208.3" class="st15" width="56.4" height="3.9"/>
 	<rect x="243" y="216" class="st15" width="66.9" height="3.9"/>
 	<polygon class="st11" points="309.9,216 243.1,216 248.3,212.1 304.7,212.1 	"/>
 	<polygon class="st11" points="304.8,208.3 248.5,208.3 252.9,205.8 300.4,205.8 	"/>
 	<rect x="150.2" y="73.4" class="st4" width="29.2" height="8.8"/>
 	<rect x="176.5" y="152.7" class="st0" width="50.2" height="44.3"/>
 	<rect x="174.4" y="196.8" class="st0" width="54.1" height="4.6"/>
 	<rect x="176.4" y="152.4" class="st26" width="4.3" height="44.5"/>
 	<rect x="172.8" y="192.7" class="st26" width="54.7" height="4.3"/>
 	<rect x="200.1" y="151.7" class="st16" width="4.3" height="45.2"/>
 	<polygon class="st17" points="174.4,201.4 182.3,213.9 237.1,213.9 228.5,201.4 	"/>
 	<rect x="174.9" y="173.3" class="st16" width="51.7" height="4.3"/>
 	<polygon class="st16" points="327.5,160.6 311.9,142.7 309.7,142.7 309.7,219.9 327.7,219.9 	"/>
 	<rect id="ns-97103559_shutter-1-l" x="163.6" y="152.7" class="st10" width="12.7" height="44.2"/>
 	<rect id="ns-97103559_shutter-1-r" x="226.7" y="152.7" class="st10" width="12.7" height="44.2"/>
 	<rect x="309.7" y="142.4" class="st24" width="18.3" height="77.5"/>
 </g>
 </svg>


     </div>



    <!-- Page Content -->
    <div class="container">





        <!-- Footer -->


    </div>
    <!-- /.container -->

  <div class="sectiona">
         <!-- Portfolio Section -->

        <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <section class="wow fadeInRight" data-wow-delay="0.5s">
                    <h1 class="page-header">ADMIN ROLES</h1>
                </section>
            </div>

      </div>
        <div class="row">

            <div class="col-lg-12">
            <section class="wow fadeInDown" data-wow-delay="0.5s">
            <h1 class="ville"><a href="{{ path('ag_platform_vendre') }}" class="ofbutton ofbutton-blue"   > <i class="fa fa-cart-arrow-down" aria-hidden="true"></i> vendre</a>
          </h1>
                </section>
            </div>
          </div>




          <div class="row">

              <div class="col-lg-12">
              <section class="wow fadeInDown" data-wow-delay="0.5s">
              <h1 class="page-header"><a href="{{ path('ag_platform_louer') }}" class="ofbutton ofbutton-blue"   ><i class="fa fa-home l" aria-hidden="true"></i> louer</a>
            </h1>
                  </section>
              </div>
            </div>

        </div>

        </div>



    <div class="sectionb">
      <div class="container"><link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

<div class="facontainer">
   <section class="wow fadeInDown" data-wow-delay="0.2s"><h1 class="page-header">Contact developers</h1></section>
  <section class="wow fadeInDown" data-wow-delay="0.2s">
  <h1 class="copyr">Copyright © 2016 | OMAR & SAAD</h1></section>

<li class="wow fadeInDown" data-wow-delay="0.6s"><a href="">
  <i class="bd-ra fa fa-google-plus"></i></a>
  </li>
<li class="wow fadeInDown" data-wow-delay="0.8s"><a href="">
  <i class="bd-ra fa fa-twitter"></i></a>
  </li>
 <li class="wow fadeInDown" data-wow-delay="1s"><a href="">
   <i class="bd-ra fa fa-facebook"></i></a>
  </li>
     <li class="wow fadeInDown" data-wow-delay="1.2s"><a href="">
       <i class="bd-ra fa fa-pinterest"></i></a>
  </li>
     <li class="wow fadeInDown" data-wow-delay="1.4s"><a href="">
       <i class="bd-ra fa fa-linkedin"></i></a>
  </li>
</div></div>
    </div>

        <!-- /.row -->
  </div>

    <!-- Script to Activate the Carousel -->
    <script>
    new WOW().init();
    $(document).ready(function() {

    $("#owl-demo").owlCarousel({

    autoPlay: 3000, //Set AutoPlay to 3 seconds
    navigation : true, // Show next and prev buttons
    slideSpeed : 300,
    paginationSpeed : 400,
    singleItem:true,

    // "singleItem:true" is a shortcut for:
    // items : 1,
    // itemsDesktop : false,
    // itemsDesktopSmall : false,
    // itemsTablet: false,
    // itemsMobile : false

    });

    });



    $('.carousel').carousel({
        interval: 5000 //changes the speed
    });
    CSSPlugin.useSVGTransformAttr = true;

function _runtime_shallowCloneObject(obj)
{
	var n = { };

	for(var k in obj) {
		n[k] = obj[k];
	}

	return n;
}

// faster but simple extend. won't accurately reproduce arrays or other types of objects.
function _extend(target, source) {
	target = target || {};
	for (var prop in source) {
		if (typeof source[prop] === 'object') {
			target[prop] = _extend(target[prop], source[prop]);
		} else {
			target[prop] = source[prop];
		}
	}
	return target;
}

// extends 'from' object with members from 'to'. If 'to' is null, a deep clone of 'from' is returned
function _deepExtend( to, from)
{
    if (from == null || typeof from != "object") return from;
    if (from.constructor != Object && from.constructor != Array) return from;
    if (from.constructor == Date || from.constructor == RegExp || from.constructor == Function ||
        from.constructor == String || from.constructor == Number || from.constructor == Boolean)
        return new from.constructor(from);

    to = to || new from.constructor();

    for (var name in from)
    {
        to[name] = typeof to[name] == "undefined" ? _deepExtend(null, from[name]) : to[name];
    }

    return to;
}

function easingNoneFunc(t)
{
	if(t < 0.99999)		// close enough? Can only see this being a problem for hugely long animations.
	{
		return 0.0;
	}
	else {
		return 1.0;
	}
}

window["EaseNone"] = {}
window["EaseNone"]["easeNone"] = easingNoneFunc;

//var tweenProperties = [ "position", "scale", "rotation", "transformOrigin", "opacity", "skew"];
function _runtime_CompileTimeline(animationData) {
	// FIXME: combine keyframes that occur at the same times for performance?

	var prefix = "#";

	if(animationData.published === true && typeof(animationData.stage.namespace) != "undefined")
	{
		prefix = "#" + animationData.stage.namespace;
	}

	var tl = new TimelineMax( { } );
	var linearEase = Linear.easeNone;
	var animationTweens = []
	for(var layerName in animationData.layers) {
		var layer = animationData.layers[layerName];

		for(var propName in layer.properties) {
			var keyframes = layer.properties[propName].keyframes;
			var lastTime = 0;
			var lastEase = linearEase;
			var lastKeyframe = null;

			var isAttribute = layer.properties[propName].isAttribute;
			if(keyframes.length > 0) {

				for(var i=0; i<keyframes.length; i++) {
					var keyframe = _runtime_shallowCloneObject(keyframes[i]);

					if(propName == "transformOrigin")
					{
						keyframe.transformOrigin = "" + Math.floor(keyframe.xOrigin * 100) + "% " + Math.floor(keyframe.yOrigin * 100) + "%";
					}

					var duration =  keyframe.time - lastTime;

					keyframe.delay = lastTime;
					keyframe.ease = lastEase;

					// is this necessary?
					if(typeof(keyframe.easeType) != "undefined") {
						lastEase = window[keyframe.easeType][keyframe.easeInOut];
					} else {
						lastEase = linearEase;
					}

					// Remove properties that aren't animated / GSAP complains about.
					delete keyframe.time;
					delete keyframe.easeType;
					delete keyframe.easeInOut;
					delete keyframe.selected;


					if (isAttribute) {
						keyframe = { attr: keyframe };
						keyframe.ease = keyframe.attr.ease;
						keyframe.delay = keyframe.attr.delay;

						delete keyframe.attr.ease;
						delete keyframe.attr.delay;
					}

					if(lastKeyframe && lastKeyframe.bezier)
					{
						var newKeyframe = {bezier: {
									type:"cubic", values:[
									{
										x: lastKeyframe.x,
										y: lastKeyframe.y
									},
									{
										x: lastKeyframe.x + lastKeyframe.controlPoints[0],
										y: lastKeyframe.y + lastKeyframe.controlPoints[1]
									},
									{
										x: keyframe.x + lastKeyframe.controlPoints[2],
										y: keyframe.y + lastKeyframe.controlPoints[3]
									},
									{
										x: keyframe.x,
										y: keyframe.y
									}
								]
							}
						};

 						newKeyframe.ease = keyframe.ease;
						newKeyframe.delay = keyframe.delay;

						keyframe = newKeyframe;
					} else {
						delete keyframe.bezier;
						delete keyframe.controlPoints;
					}



					animationTweens.push(TweenMax.to( prefix + layerName, duration, keyframe ) );

					lastKeyframe = keyframes[i];
					lastTime += duration;
				}

			}

		}
	}

	tl.add(animationTweens);
	tl.stop();

	return tl;
}

function createStageObject(scope)
{
	var stage = { };

	// stage.animationData = scope.animationData;

	var prefix = "#";

	if(scope.animationData.published === true && typeof(scope.animationData.stage.namespace) != "undefined")
	{
		prefix = "#" + scope.animationData.stage.namespace;
	}

	stage.getLayer = function(layerName)
	{
		return document.querySelector(prefix + layerName);
	}

	stage.timeline = scope.timeline;

	stage.root = scope.root;

	return stage;
}

function isIE () {
  var myNav = navigator.userAgent.toLowerCase();
  return (myNav.indexOf('msie') != -1) ? parseInt(myNav.split('msie')[1]) : false;
}

function beginImmediately(svgSelector, scope)
{
	var element = document.querySelector(svgSelector);

	element.style.visibility = "visible";

	scope.timeline.play();
	scope.root = element;

	if(scope.animationHandlers)
	{
		stage = createStageObject(scope);
		scope.animationHandlers(stage);
	}

}

// FIXME: instead of callback, an object with tl, animationData, scriptsFunc
function waitForImages(svgSelector, scope)
{
	if(isIE () == 8)
	{
		// NOT supported..
		return;
	}

	var element = document.querySelector(svgSelector);

	element.style.visibility = "hidden";
	var stage = false;
	function onLoaded()
	{
		if(stage)
			return;

		element.style.visibility = "visible";

		scope.timeline.play();
		scope.root = element;

		if(scope.animationHandlers)
		{
			stage = createStageObject(scope);
			scope.animationHandlers(stage);
		}
	}

	// Firefox:
	if(navigator.userAgent.toLowerCase().indexOf('firefox') > -1) {
		element.addEventListener("SVGLoad", onLoaded);
	} else if(isIE() == 9) {
		document.addEventListener("DOMContentLoaded", onLoaded);
	} else {
		// Others
		element.addEventListener("load", onLoaded);
	}

}

(function() {

    var animationData = {"clipLength":10,"layers":{"House1":{"attributes":{"locked":false,"hidden":false,"scalingLocked":false,"standardLayer":true},"properties":{"transformOrigin":{"keyframes":[{"time":0,"xOrigin":0.5,"yOrigin":1}]},"position":{"keyframes":[{"time":0,"x":0,"y":0}]},"scale":{"keyframes":[{"time":0,"scaleX":0,"scaleY":0,"selected":false,"easeType":"Power2","easeInOut":"easeInOut"},{"time":0.24029411764705882,"scaleX":1.05,"scaleY":1.05,"selected":false},{"time":0.285,"scaleX":1,"scaleY":1,"selected":false},{"time":1.5722197617110478,"scaleX":1,"scaleY":1,"selected":false,"easeType":"Power1","easeInOut":"easeInOut"},{"time":1.6322197617110477,"scaleX":1,"scaleY":1.05,"selected":false,"easeType":"Power1","easeInOut":"easeIn"},{"time":1.8575138793581065,"scaleX":0,"scaleY":0,"selected":false}]},"skew":{"keyframes":[{"time":0,"skewX":0,"skewY":0}]},"rotation":{"keyframes":[{"time":0,"rotation":0}]},"opacity":{"keyframes":[{"time":0,"opacity":1}]}}},"House2":{"attributes":{"locked":false,"hidden":false,"scalingLocked":true,"standardLayer":true},"properties":{"transformOrigin":{"keyframes":[{"time":0,"xOrigin":0.5,"yOrigin":1}]},"position":{"keyframes":[{"time":0,"x":0,"y":0}]},"scale":{"keyframes":[{"time":0,"scaleX":0,"scaleY":0},{"time":1.8575138793581065,"scaleX":0,"scaleY":0,"selected":false,"easeType":"Power2","easeInOut":"easeInOut"},{"time":2.097807997005165,"scaleX":1.05,"scaleY":1.05,"selected":false},{"time":2.1425138793581064,"scaleX":1,"scaleY":1,"selected":false},{"time":3.3000138793581035,"scaleX":1,"scaleY":1,"selected":false,"easeType":"Power1","easeInOut":"easeInOut"},{"time":3.3600138793581036,"scaleX":1,"scaleY":1.05,"selected":false,"easeType":"Power1","easeInOut":"easeIn"},{"time":3.585307997005162,"scaleX":0,"scaleY":0,"selected":false}]},"skew":{"keyframes":[{"time":0,"skewX":0,"skewY":0}]},"rotation":{"keyframes":[{"time":0,"rotation":0}]},"opacity":{"keyframes":[{"time":0,"opacity":1}]}}},"House3":{"attributes":{"locked":false,"hidden":false,"scalingLocked":true,"standardLayer":true},"properties":{"transformOrigin":{"keyframes":[{"time":0,"xOrigin":0.5,"yOrigin":0.5},{"time":0,"xOrigin":0.5,"yOrigin":1,"selected":false}]},"position":{"keyframes":[{"time":0,"x":0,"y":0}]},"scale":{"keyframes":[{"time":0,"scaleX":0,"scaleY":0},{"time":3.585307997005162,"scaleX":0,"scaleY":0,"selected":false,"easeType":"Power2","easeInOut":"easeInOut"},{"time":3.825602114652221,"scaleX":1.05,"scaleY":1.05,"selected":false},{"time":3.8703079970051615,"scaleX":1,"scaleY":1,"selected":false}]},"skew":{"keyframes":[{"time":0,"skewX":0,"skewY":0}]},"rotation":{"keyframes":[{"time":0,"rotation":0}]},"opacity":{"keyframes":[{"time":0,"opacity":1}]}}},"tree2":{"attributes":{"locked":false,"hidden":false,"scalingLocked":false,"standardLayer":true},"properties":{"transformOrigin":{"keyframes":[{"time":0,"xOrigin":0.5,"yOrigin":1}]},"position":{"keyframes":[{"time":0,"x":-21,"y":65},{"time":3.6753079970051616,"x":-21,"y":65,"selected":false,"easeType":"Power2","easeInOut":"easeInOut"},{"time":3.9839721262029864,"x":-21,"y":15,"selected":false}]},"scale":{"keyframes":[{"time":0,"scaleX":0,"scaleY":0,"selected":false,"easeType":"Power2","easeInOut":"easeInOut"},{"time":0.1280894854172325,"scaleX":0,"scaleY":0,"selected":false,"easeType":"Power2","easeInOut":"easeInOut"},{"time":0.3363612317099832,"scaleX":1.05,"scaleY":1.05,"selected":false},{"time":0.3810671140629244,"scaleX":1,"scaleY":1,"selected":false},{"time":3.585307997005162,"scaleX":1,"scaleY":1,"selected":false},{"time":3.6753079970051616,"scaleX":1,"scaleY":0.9,"selected":false},{"time":3.9839721262029864,"scaleX":1,"scaleY":1.07,"selected":false},{"time":4.118973126415548,"scaleX":1,"scaleY":1,"selected":false}]},"skew":{"keyframes":[{"time":0,"skewX":0,"skewY":0}]},"rotation":{"keyframes":[{"time":0,"rotation":0}]},"opacity":{"keyframes":[{"time":0,"opacity":1}]}}},"tree1":{"attributes":{"locked":false,"hidden":false,"scalingLocked":false,"standardLayer":true},"properties":{"transformOrigin":{"keyframes":[{"time":0,"xOrigin":0.5,"yOrigin":1}]},"position":{"keyframes":[{"time":0,"x":31,"y":55},{"time":3.8076444829944163,"x":31,"y":55,"selected":false,"easeType":"Power2","easeInOut":"easeInOut"},{"time":4.17420582481254,"x":31,"y":15,"selected":false}]},"scale":{"keyframes":[{"time":0,"scaleX":0,"scaleY":0,"selected":false,"easeType":"Power2","easeInOut":"easeInOut"},{"time":0.18613003349691598,"scaleX":0,"scaleY":0,"selected":false,"easeType":"Power2","easeInOut":"easeInOut"},{"time":0.39440177978966673,"scaleX":1.05,"scaleY":1.05,"selected":false},{"time":0.4391076621426078,"scaleX":1,"scaleY":1,"selected":false},{"time":3.7176444829944164,"scaleX":1,"scaleY":1,"selected":false},{"time":3.8076444829944163,"scaleX":1,"scaleY":0.9,"selected":false},{"time":4.17420582481254,"scaleX":1,"scaleY":1.07,"selected":false},{"time":4.300935794650773,"scaleX":1,"scaleY":1,"selected":false}]},"skew":{"keyframes":[{"time":0,"skewX":0,"skewY":0}]},"rotation":{"keyframes":[{"time":0,"rotation":0}]},"opacity":{"keyframes":[{"time":0,"opacity":1}]}}},"sidewalk":{"attributes":{"locked":false,"hidden":false,"scalingLocked":true,"standardLayer":true},"properties":{"transformOrigin":{"keyframes":[{"time":0,"xOrigin":0.5,"yOrigin":0.5}]},"position":{"keyframes":[{"time":0,"x":0,"y":0}]},"scale":{"keyframes":[{"time":0,"scaleX":1,"scaleY":1}]},"skew":{"keyframes":[{"time":0,"skewX":0,"skewY":0}]},"rotation":{"keyframes":[{"time":0,"rotation":0}]},"opacity":{"keyframes":[{"time":0,"opacity":1}]}}},"ground_1_":{"attributes":{"locked":false,"hidden":false,"scalingLocked":true,"standardLayer":true},"properties":{"transformOrigin":{"keyframes":[{"time":0,"xOrigin":0.5,"yOrigin":0.5}]},"position":{"keyframes":[{"time":0,"x":0,"y":0}]},"scale":{"keyframes":[{"time":0,"scaleX":1,"scaleY":1}]},"skew":{"keyframes":[{"time":0,"skewX":0,"skewY":0}]},"rotation":{"keyframes":[{"time":0,"rotation":0}]},"opacity":{"keyframes":[{"time":0,"opacity":1}]}}},"shutter-1-l":{"attributes":{"locked":false,"hidden":false,"scalingLocked":false,"standardLayer":true},"properties":{"transformOrigin":{"keyframes":[{"time":0,"xOrigin":1,"yOrigin":0.5}]},"position":{"keyframes":[{"time":0,"x":0,"y":0,"selected":false}]},"scale":{"keyframes":[{"time":0,"scaleX":-2.03,"scaleY":1,"selected":false},{"time":0.3810671140629244,"scaleX":-2.03,"scaleY":1,"selected":false,"easeType":"Power1","easeInOut":"easeInOut"},{"time":0.7596342281258487,"scaleX":1,"scaleY":1,"selected":false}]},"skew":{"keyframes":[{"time":0,"skewX":0,"skewY":0,"selected":false}]},"rotation":{"keyframes":[{"time":0,"rotation":0,"selected":false}]},"opacity":{"keyframes":[{"time":0,"opacity":1,"selected":false}]}}},"shutter-1-r":{"attributes":{"locked":false,"hidden":false,"scalingLocked":false,"standardLayer":true},"properties":{"transformOrigin":{"keyframes":[{"time":0,"xOrigin":0,"yOrigin":0.5}]},"position":{"keyframes":[{"time":0,"x":0,"y":0,"selected":false}]},"scale":{"keyframes":[{"time":0,"scaleX":-2,"scaleY":1,"selected":false},{"time":0.3810671140629244,"scaleX":-2,"scaleY":1,"selected":false,"easeType":"Power1","easeInOut":"easeInOut"},{"time":0.7596342281258487,"scaleX":1,"scaleY":1,"selected":false}]},"skew":{"keyframes":[{"time":0,"skewX":0,"skewY":0,"selected":false}]},"rotation":{"keyframes":[{"time":0,"rotation":0,"selected":false}]},"opacity":{"keyframes":[{"time":0,"opacity":1,"selected":false}]}}},"SmokePuff1":{"attributes":{"locked":false,"hidden":false,"scalingLocked":true,"standardLayer":true},"properties":{"transformOrigin":{"keyframes":[{"time":0,"xOrigin":0.5,"yOrigin":0.5},{"time":0,"xOrigin":0.5,"yOrigin":0.5,"selected":false}]},"position":{"keyframes":[{"time":0,"x":0,"y":45,"selected":false,"easeType":"Power2","easeInOut":"easeOut"},{"time":0,"x":0,"y":45,"selected":false,"easeType":"Power2","easeInOut":"easeOut"},{"time":0.3810671140629244,"x":0,"y":45,"selected":false,"easeType":"Power2","easeInOut":"easeOut"},{"time":0.7402941176470588,"x":1,"y":-10,"selected":false,"easeType":"EaseNone","easeInOut":"easeNone"},{"time":0.8375,"x":0,"y":45,"selected":false,"easeType":"Power2","easeInOut":"easeOut"},{"time":1.0685671140629245,"x":0,"y":45,"selected":false,"easeType":"Power2","easeInOut":"easeOut"},{"time":1.3777941176470587,"x":1,"y":-10,"selected":false}]},"scale":{"keyframes":[{"time":0,"scaleX":0.01,"scaleY":0.01,"selected":false,"easeType":"Power1","easeInOut":"easeOut"},{"time":0,"scaleX":0.01,"scaleY":0.01,"selected":false,"easeType":"Power1","easeInOut":"easeOut"},{"time":0.3810671140629244,"scaleX":0.01,"scaleY":0.01,"selected":false,"easeType":"Power1","easeInOut":"easeOut"},{"time":0.7402941176470588,"scaleX":1.5,"scaleY":1.5,"selected":false,"easeType":"EaseNone","easeInOut":"easeNone"},{"time":0.8375,"scaleX":0.01,"scaleY":0.01,"selected":false,"easeType":"Power1","easeInOut":"easeOut"},{"time":1.0685671140629245,"scaleX":0.01,"scaleY":0.01,"selected":false,"easeType":"Power1","easeInOut":"easeOut"},{"time":1.3777941176470587,"scaleX":1.5,"scaleY":1.5,"selected":false,"easeType":"Power1","easeInOut":"easeOut"}]},"skew":{"keyframes":[{"time":0,"skewX":0,"skewY":0,"selected":false}]},"rotation":{"keyframes":[{"time":0,"rotation":0,"selected":false}]},"opacity":{"keyframes":[{"time":0,"opacity":1,"selected":false},{"time":0.3810671140629244,"opacity":1,"selected":false},{"time":0.7402941176470588,"opacity":0,"selected":false,"easeType":"EaseNone","easeInOut":"easeNone"},{"time":0.8375,"opacity":1,"selected":false},{"time":1.0685671140629245,"opacity":1,"selected":false},{"time":1.3777941176470587,"opacity":0,"selected":false}]}}},"SVGID_1_":{"attributes":{"locked":false,"hidden":false,"scalingLocked":true,"standardLayer":true},"properties":{"transformOrigin":{"keyframes":[{"time":0,"xOrigin":0.5,"yOrigin":0.5}]},"position":{"keyframes":[{"time":0,"x":0,"y":0}]},"scale":{"keyframes":[{"time":0,"scaleX":1,"scaleY":1}]},"skew":{"keyframes":[{"time":0,"skewX":0,"skewY":0}]},"rotation":{"keyframes":[{"time":0,"rotation":0}]},"opacity":{"keyframes":[{"time":0,"opacity":1}]}}},"SVGID_2_":{"attributes":{"locked":false,"hidden":false,"scalingLocked":true,"standardLayer":true},"properties":{}},"SVGID_3_":{"attributes":{"locked":false,"hidden":false,"scalingLocked":true,"standardLayer":true},"properties":{"transformOrigin":{"keyframes":[{"time":0,"xOrigin":0.5,"yOrigin":0.5}]},"position":{"keyframes":[{"time":0,"x":0,"y":0}]},"scale":{"keyframes":[{"time":0,"scaleX":1,"scaleY":1}]},"skew":{"keyframes":[{"time":0,"skewX":0,"skewY":0}]},"rotation":{"keyframes":[{"time":0,"rotation":0}]},"opacity":{"keyframes":[{"time":0,"opacity":1}]}}},"SVGID_4_":{"attributes":{"locked":false,"hidden":false,"scalingLocked":true,"standardLayer":true},"properties":{}},"SmokePuff2":{"attributes":{"locked":false,"hidden":false,"scalingLocked":true,"standardLayer":true},"properties":{"transformOrigin":{"keyframes":[{"time":0,"xOrigin":0.5,"yOrigin":0.5},{"time":0,"xOrigin":0.5,"yOrigin":0.5,"selected":false}]},"position":{"keyframes":[{"time":0,"x":0,"y":0,"selected":false},{"time":4.251375111068086,"x":0,"y":0,"selected":false,"easeType":"Power2","easeInOut":"easeOut"},{"time":4.707807997005162,"x":0,"y":-45}]},"scale":{"keyframes":[{"time":0,"scaleX":0.01,"scaleY":0.01,"selected":false,"easeType":"Power1","easeInOut":"easeOut"},{"time":3.870307997005161,"scaleX":0.01,"scaleY":0.01,"selected":false,"easeType":"Power1","easeInOut":"easeOut"},{"time":4.251375111068086,"scaleX":0.01,"scaleY":0.01,"selected":false,"easeType":"Power1","easeInOut":"easeOut"},{"time":4.61060211465222,"scaleX":1.5,"scaleY":1.5,"selected":false,"easeType":"EaseNone","easeInOut":"easeNone"},{"time":4.707807997005162,"scaleX":0.01,"scaleY":0.01,"selected":false,"easeType":"Power1","easeInOut":"easeOut"}]},"skew":{"keyframes":[{"time":0,"skewX":0,"skewY":0,"selected":false}]},"rotation":{"keyframes":[{"time":0,"rotation":0,"selected":false}]},"opacity":{"keyframes":[{"time":0,"opacity":1,"selected":false},{"time":3.8703079970051615,"opacity":1,"selected":false},{"time":4.251375111068086,"opacity":1,"selected":false},{"time":4.61060211465222,"opacity":0,"selected":false,"easeType":"EaseNone","easeInOut":"easeNone"},{"time":4.707807997005162,"opacity":1,"selected":false}]}}}},"stage":{"namespace":"ns-97103559_","width":395.8,"height":338.8},"published":true};

    var animationHandlers;

    (function() {
// -- Begin user code --
        animationHandlers = function(stage) {

           stage.timeline.repeat(30);
};
// -- End user code --
    })();


    var tl = _runtime_CompileTimeline(animationData);

    waitForImages("#stage > svg", {
        animationData: animationData,
        animationHandlers: animationHandlers,
        timeline: tl
    });


})();

    </script>





{% endblock %}
